//base
@import 'base/reset';
//componentes
@import 'components/navbar';
@import'components/footer';
//layout
@import 'layout/index';  
@import 'layout/gallery'; 
@import 'layout/about';
@import 'layout/login';

 /* mediaqueries*/

@media only screen and (max-width:990px) {
    .c1,.c2{
        position: static;
        margin: 10px 0;
    }
    .bluebar {
        width: 20%;
        height: 10px;
    }
    .graybar {
        width: 50%;
        height: 10px;
    }

    
}

@media only screen and (max-width:660px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .c1,.c2 {
        text-align: center;
    }
    .nav-list{
        flex-direction: column;
        align-items: center;
    }
    main{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .hero__right img {
        width: 100%;
        height: 300px;
    }

}
@media only screen and (max-width:400px){
    .nav-list{
        flex-direction: column;
        align-items: center;
    }
    .hero__left p {
        text-align: center;
    }
    .hero__left a {
        width: 100%;
        align-self: center;
    }
    .hero__left,.hero__right {
        width: 100%;
    }
    footer p {
        text-align: center;
    }
}
/*agregando boostrap*/


i {  color: #fff;
    width: 100%;
    height: 100%;
    align-items: center;
}

/* estilos del login*/

.form-login {
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
  }
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }
  @media only screen and (max-width:400px){
    .form-login {
        width: 200px;
    }
  }